<!DOCTYPE html>
<html>
<head>
    <title>Link Expired</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'uploader/style.css' %}">
</head>

<body>
     <div class="background-header">
        <h1>Link Expired</h1>
        <p>This download link is no longer available.</p>
    </div>

    <div class="card expired-card">
        <h2 class="center-text">Expired</h2>
        <p class="expired-text">The file you are trying to access has expired or is no longer available.</p>
    </div>
</body>
</html>
